@import "tailwindcss";

:root {
  --background: linear-gradient(#b6ccda, #c8dce5);
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  padding-inline: 2rem;
}

main {
  max-width: 1000px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: auto;
}

/* HEADER CONTENT */

.header {
  max-width: 1000px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr auto 0.5fr 0.5fr;
  align-items: center;
  gap: 2rem;
  padding-block: 2rem;

  .nav-bar {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
}

.search-icon {
  justify-self: end;
}

.menu-button {
  padding: 0.5em 2em;
  color: white;
  font-weight: 600;
}

.menu-button:hover {
  border: 1px solid white;
  background: white;
  border-radius: 20px;
  color: #b6ccda;
  font-weight: bold;
}

/**** MAIN CoNTENT *****/

/* HEADLINE TEXT */

.headline {
  font-size: 60px;
  color: white;
  font-weight: bold;
}

.headline-div {
  align-self: center;
}

.headline-div > * + * {
  font-weight: normal;
}

/* IMAGE WATCH  */

.image-watch-dots-div {
  display: flex;
}

/* DOTS */

.color-selection-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.1rem;
}

.dot {
  width: clamp(24px, 19.5px + 1.125cqi, 33px);
  height: clamp(24px, 19.5px + 1.125cqi, 33px);
  border-radius: 99px;
  border: solid 1px white;

  &:hover {
    box-shadow: #17171748 0 2px 5px;
    cursor: pointer;
  }
}

.dotted-line {
  border: none;
  border-left: 3px dotted white;
  height: 30px;
  margin-inline: auto;
  top: 0;
}

.myborder {
  border: solid 3px white;
  width: clamp(28px, 19.5px + 1.125cqi, 35px);
  height: clamp(28px, 19.5px + 1.125cqi, 35px);
}

/* BUY BUTTON */

.buy-button {
  grid-row: 2;
  padding: 0.7rem 2rem;
  border: 3px solid white;
  color: white;
  border-radius: 30px;
  max-width: 200px;
  font-weight: bold;
}

.buy-button:hover {
  background: white;
  color: #b6ccda;
}

/* BOTTOM NAVIGATION */

.bottom-nav {
  margin-block: 2rem;
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  grid-row: 3;

  .arrow-div {
    display: flex;
    align-items: end;

    p {
      color: white;
      margin-inline: 1rem;
      font-weight: bold;
      font-size: 16px;
    }
  }
}
.image-nav-div {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;

  img {
    width: 100%;
  }
}

.thumbnail-fig {
  position: relative;
  isolation: isolate;
  &::before {
    content: "";
    position: absolute;
    bottom: -1rem;
    left: -1rem;
    background: #434558;
    border-radius: 10px;
    opacity: 60%;
    width: 140%;
    height: 80px;
    z-index: -1;
  }
}

figure:nth-of-type(2)::before {
  background: #6addcc;
}

figure:nth-of-type(3)::before {
  background: #c4f0f9;
}
